###### Writing a python program about customer orders from an e-commerce website.

In [1]:
# creating a dictionary customer_orders to cast it as a DataFrame 

customer_orders={"OrderID":[1,2,3,4,5,6,7,8,9,10] ,"Product":["Widget A","Widget B","Widget A","Widget C","Widget B","Widget B","Widget B","Widget B","Widget B","Widget B"] ,
                 "Quantity":[10,5,8,3,7,12,0,34,23,56] ,"Price":[5.99,7.49,5.99,12.99,7.49,200,34,11,10.9,4.9]}

In [2]:
# Importing all the python libraries to do the required Data Analysis


import pandas as pd  # for import, export and manipulation
import numpy as np    # for scitific calculations
import matplotlib.pyplot as plt  #for visualisation
import seaborn as sns            # for multidimentional visualization

In [3]:
df=pd.DataFrame(customer_orders) # converting the Dictionary to a DataFrame

In [4]:
df.to_csv("customer_orders.csv") #saving the Data in a csv file as "customer_orders.csv"

In [5]:
df1=pd.read_csv("customer_orders.csv") #loading and reading the csv file

In [6]:
df1

   Unnamed: 0  OrderID   Product  Quantity   Price
0           0        1  Widget A        10    5.99
1           1        2  Widget B         5    7.49
2           2        3  Widget A         8    5.99
3           3        4  Widget C         3   12.99
4           4        5  Widget B         7    7.49
5           5        6  Widget B        12  200.00
6           6        7  Widget B         0   34.00
7           7        8  Widget B        34   11.00
8           8        9  Widget B        23   10.90
9           9       10  Widget B        56    4.90

In [7]:
#collecting the first 5 rows

df1.head()

   Unnamed: 0  OrderID   Product  Quantity  Price
0           0        1  Widget A        10   5.99
1           1        2  Widget B         5   7.49
2           2        3  Widget A         8   5.99
3           3        4  Widget C         3  12.99
4           4        5  Widget B         7   7.49

In [8]:
#collecting the last 5 rows
df1.tail()

   Unnamed: 0  OrderID   Product  Quantity  Price
5           5        6  Widget B        12  200.0
6           6        7  Widget B         0   34.0
7           7        8  Widget B        34   11.0
8           8        9  Widget B        23   10.9
9           9       10  Widget B        56    4.9

In [9]:
#GETTING THE DIMENSION OF THE DF
df.shape

(10, 4)

In [10]:
# find out all the columns 

df1.columns

Index(['Unnamed: 0', 'OrderID', 'Product', 'Quantity', 'Price'], dtype='object')

In [11]:
# set the index as order Id
df1=df1.set_index("OrderID")

In [12]:
df1

         Unnamed: 0   Product  Quantity   Price
OrderID
1                 0  Widget A        10    5.99
2                 1  Widget B         5    7.49
3                 2  Widget A         8    5.99
4                 3  Widget C         3   12.99
5                 4  Widget B         7    7.49
6                 5  Widget B        12  200.00
7                 6  Widget B         0   34.00
8                 7  Widget B        34   11.00
9                 8  Widget B        23   10.90
10                9  Widget B        56    4.90

In [13]:
# This gives the information regarding the type and memory location and null values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   10 non-null     int64
 1   Product   10 non-null     object
 2   Quantity  10 non-null     int64
 3   Price     10 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 448.0+ bytes

In [14]:
# getting the Statistical information from the Data
df.describe()

        OrderID   Quantity       Price
count  10.00000  10.000000   10.000000
mean    5.50000  15.800000   30.075000
std     3.02765  17.370473   60.302445
min     1.00000   0.000000    4.900000
25%     3.25000   5.500000    6.365000
50%     5.50000   9.000000    9.195000
75%     7.75000  20.250000   12.492500
max    10.00000  56.000000  200.000000

From the  above Maximum and minimum values, it is clear that there is a great deviation in the price values.

###### Data Cleaning

In [15]:
# finding the number of null vvalue present in each column
df.isna().sum()

OrderID     0
Product     0
Quantity    0
Price       0
dtype: int64

So it is clear that there is no null value in the given Data and the data type is integer.

In [16]:
df["Product"].unique()

array(['Widget A', 'Widget B', 'Widget C'], dtype=object)

It shows that,there are only three types of products are present in the e-commerce website.

Now let us find out how many products from Widget A are present.

In [17]:
Which product has maximum price?

Object `price` not found.

In [ ]:
Which product has maximum price?